.form-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
  
}
.input-container{
    padding: 30px;
    
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reset{
    padding: 15px 20px;
    background-color: red;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.submit{
    padding: 15px 20px;
    background-color: green;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;


}
form{
    box-shadow: 2px 2px 12px grey;

    border-radius: 10px;
}
label{
    font-weight: 750;
    font-size: 20px;
    
}
input{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 3px;
}
textarea{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
}
select{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 3px;
}